:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* SUN-EDITOR */

.sun-editor {
  border-radius: 12px;
  background-color: #0f172a !important;
  overflow: hidden;
  border: none !important;
  outline: none !important;
  color: #ededed !important;
}

.sun-editor .sun-editor-container {
  background-color: #0f172a;
}

.sun-editor .se-wrapper-inner {
  background-color: #3b3b3b;
  border: #0f172a 5px solid !important;
  color: #ffffff !important;
}

.sun-editor .se-wrapper-inner p{
  color: #ffffff !important;
}

.sun-editor-editable{
  padding: 10px !important;
}

.sun-editor .se-toolbar {
  background-color: #0b1220 !important;
  padding: 6px;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid #2a2a2a;
}

.sun-editor .se-btn-module-border {
  border: none !important;
}

.sun-editor:focus-within {
  outline: none;
  box-shadow: none;
}

.sun-editor button {
  color: #ededed !important;
}

.sun-editor .se-resizing-bar {
  background-color: #0b1220 !important;
  border: none !important;
  padding: 0px !important;
}

.sun-editor .se-resizing-bar .se-navigation {
  background-color: #0b1220 !important;
}